###############
#    folder   #
###############
/build/


###############
#  fixed file #
###############
*.exe
*.txt
*.def
*.dsp
*.lib
*.doc
*.dll
*.lnt
*.pm
*.xls
*.dbg
*.DBG
*.o
*.plg
*.keep


###############
#  temp file  #
###############
~*
*.log
*.cmm
*.men
*.ini
*.fig
*.cmp
*.tmp

###############
#    script   #
###############
*.bat


##eclipse###
/bin/
.project
/.setting/
.classpath


##idea##
/.idea/
*.iml
rebel*.xml
.gradle
classes
logs
target
out